* {
    box-sizing: border-box;
    /* Corrige estouro da largura */
  }

  body {
    font-family: Arial, sans-serif;
    /* max-width: 500px; */
    margin: auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  form {
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 30%;
  }

  input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
  }

  input[type="submit"] {
    background-color: #0061e0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* Borda arredondada no botao */
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #004aad;
  }