* {
  box-sizing: border-box;
  /* Corrige estouro da largura */
}

body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column; /* Um embaixo do outro */
  align-items: center;     /* Centraliza na horizontal */
  min-height: 100vh;       /* Faz o conteúdo ocupar toda a altura da tela */
  gap: 0px;               /* Espaçamento entre os formulários */
}
.container h1{
  color: var(--cor-secundaria)
}

form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

input[type="submit"] {
  background-color: rgb(0, 95, 204);
  color: white;
  border: none;
  border-radius: 5px;
}