:root {
    --cor-primaria: #0a2540;
    --cor-secundaria: #174b7a;
    --cor-destaque: #3d7abf;
    --cor-clara: #a4c5e9;
    --cor-fundo: #e3f0fb;
    --cor-branca: #ffffff;
  
    --fonte-principal: 'Arial', sans-serif;
  }
  
  
